<li>
  <div class="user">
    <%= user %>
  </div>
  <div class="text">
    <%= text %>
  </div>
  <div class="date">
    <%= added %>
  </div>
  <br>
  <a href="/messageDet/<%= user %>/<%= text %>/<%= added %>"">Open</a> 
</li>